* {
  font-family: "Open Sans", sans-serif;
  background: rgb(30, 30, 40);
  color: white;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  margin-top: 2.5vh;
}

/* Hide */

#start {
  display: block;
}

#game {
  display: none;
}

#fin {
  display: none;
}

/* Start */

.title {
  font-family: "press start 2p";
  font-size: 3.7rem;
  color: rgba(white, 0.9);
  text-shadow: 0 0.1em 0 rgb(0, 0, 0);
  margin-top: 17vh;
  letter-spacing: 3px;
  text-align: center;
}

.subtitle {
  margin-top: 8vh;
  margin-bottom: 10vh;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-shadow: 0 0.1em 0 #000;
}

#buttonToGame {
  margin-bottom: 2vh;
  font-size: 2rem;
  padding: 2vh;
  text-shadow: 0 0.1em 0 #000;
  letter-spacing: 3px;
}

/* Game */

.headerGame {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "press start 2p";
  font-size: 1rem;
  color: rgba(white, 0.9);
  letter-spacing: 3px;
  margin-left: 8vh;
  text-align: left;
}

#bar {
  height: 2vh;
  width: 35vh;
  position: relative;
  background: #ffffff;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  margin: 0px auto;
  display: block;
  margin-right: 8vh;
}

.barSpan {
  width: 0%;
}

#bar > span {
  display: block;
  height: 100%;
  background-color: rgb(230, 233, 86);
}

h2 {
  margin-bottom: 4vh;
  font-size: 1.2rem;
  letter-spacing: 5px;
  text-align: center;
  letter-spacing: 2px;
  letter-spacing: 0.3vh;
  line-height: 5.5vh;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 40vh;
  padding-right: 40vh;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.1rem 0.5rem 0 rgb(219, 219, 219);
  border: solid white;
  background-color: rgb(54, 54, 71);
}

.choice-container:hover p {
  background-color: rgb(54, 54, 71);
}

.choice-container {
  font-size: 1rem;
  border: 1px solid white;
  border: solid white;
  margin-top: 2rem;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.buttonsInGame {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  align-self: center;
}

#respuestas {
  text-align: left;
  margin-bottom: 5vh;
  font-size: 2.4vh;
letter-spacing: 0.2vh;
}

#respuestas input {
  margin-right: 3vh;
}

#buttonNext img {
    width: 3rem;
}

#buttonCheck {
  display: block;
  margin-bottom: 2vh;
  font-size: 1rem;
  padding: 2vh;
  text-shadow: 0 0.1em 0 #000;
  letter-spacing: 1px;
}

#buttonNext {
    display: block;
    margin-bottom: 2vh;
    font-size: 1rem;
    padding: 2vh;
    text-shadow: 0 0.1em 0 #000;
    letter-spacing: 1px;
}

#check {
  display: none;
}


/* End*/

.subtitleEndScreen {
  margin-top: 10vh;
  font-size: 1.6rem;
  letter-spacing: 5px;
  text-align: center;
}

#buttonToRestart {
  margin-bottom: 2vh;
  margin-top: 10vh;
  font-size: 1.5rem;
  padding: 2vh;
  text-shadow: 0 0.1em 0 #000;
  letter-spacing: 3px;
}

#texto-puntos {
  font-family: "press start 2p";
  font-size: 2rem;
  color: rgba(white, 0.9);
  text-shadow: 0 0.1em 0 #000;
  margin-top: 7vh;
  line-height: 8vh;
}

#texto-check {
  font-size: 5vh;
  letter-spacing: 0.5vh;
  margin-bottom: 9vh;
  margin-top: 6vh;
}

/* Footer */

footer {
  position: fixed;
  background-color: none;
  background: none;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 6vh;
}

#footer a {
  color: rgb(70, 70, 92);
  text-decoration: none;
}

#footer a:hover {
  color: rgb(101, 101, 134);
}

